* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.preview {
  background: #eff5ff;
  width: 100%;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;
  flex: 1;
  /* min-height: 300px; */
}

.desk {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: scale(0.4);
  transform-origin: bottom center;
}

.desk__control {
  position: absolute;
  background: #ccc;
  border-radius: 8px;
  padding: 10px;
  top: 103px;
  right: 78px;
  transform: scale(1.3);
  font-size: 12px;
}

.desk__control__top {
  display: flex;
}

.desk__control__top svg {
  width: 10px;
  height: 10px;
}

.desk__control__display {
  width: 60px;
  height: 26px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding-top: 3px;
}

svg {
  margin: 0 auto;
  display: block;
}

.desk__legs {
  width: 775px;
  position: relative;
  z-index: 2;
  transform-origin: bottom;
  transition: .3s;
}

.desk__legs__bottom {
  margin-top: -60px;
  position: relative;
  
}

.desk__dynamic_part {
  position: relative;
}

#desk__top {
  position: absolute;
  top: -108px;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  z-index: 11;
}

.form {
  width: 100%;
  margin-top: 20px;
}

.form_group {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

select, input {
  height: 52px;
  display: block;
  margin-top: 8px;
  width: 100%;
  border: 1px solid #dcdfe3;
  padding: 10px 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: .2s;
  background: #fff;
  outline: none;
}

select:hover, input:hover {
  border-color: #1156ff;
}

select:focus, input:focus {
  border-color: #1156ff;
  box-shadow: 0 0 0 4px rgb(21 21 58 / 10%);
}

.indicator_height {
  position: absolute;
  right: -112px;
  bottom: -1px;
  height: 100%;
  display: block;
}

.indicator_height > hr {
  height: 100%;
  width: 3px;
  background: #000;
}

#indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 28px;
  font-weight: 500;
  background: #eff5ff;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .desk {
    transform: scale(0.35);
  }
  
}

@media (max-width: 900px) {
  .desk {
    transform: scale(0.3);
  }
  
}

@media (max-width: 960px) {
  .preview {
    min-height: 200px;
  }

  .desk__control__display {
    font-size: 1.5rem;
  }

  /* Make SVG responsive */
  svg {
    width: 100%;
    height: auto;
  }
}
